#project-list {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  column-gap: 10px;
  row-gap: 10px;
}

.centre-page {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.HomePageCards {
  padding-left: 50%;
}

.centre-text {
  text-align: center;
  vertical-align: middle;
}

#background-box {
  background-color: #f8f9f9;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

#project-img {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

/* Login page styling */

.container {
  display: grid;
  padding: 2%;
}

.left-half {
  background: #87cefa;
  grid-column: 1;
  border-top-left-radius: 5%;
  border-bottom-left-radius: 5%;
  text-align: center;
  font-family: 'Source Code Pro', monospace;
}

.right-half {
  border: solid #87cefa;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  grid-column: 2;
  font-family: 'Hind Siliguri', sans-serif;
}

article {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  padding: 1rem;
}

/* Home Page Styling */

#center-project-cards {
  display: flex;
}

/* Project card styling */


#left-half_addProject {
  /* background: #87cefa; */
  grid-column: 1;
  /* border-top-left-radius: 5%; */
  /* border-bottom-left-radius: 5%; */
  text-align: center;
  width: 100%;
  /* font-family: 'Source Code Pro', monospace; */
}

#right-half_addProject {
  /* border: solid #87cefa; */
  /* border-top-right-radius: 5%; */
  /* border-bottom-right-radius: 5%; */
  grid-column: 2;
  width: 100%;
  /* font-family: 'Hind Siliguri', sans-serif; */
}





